body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
.center-react-horizontal + img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}
body > .header {
    height: 80px;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
}